<main class="content px-5 py-4">
    <div class="content-fluid">
        <div class="mb-3">
            <h3 class="fw-bold fs-4 mb-3">Quản lý Hoá Đơn</h3>
            <div class="row">
                <div class="col-6 col-md-4">
                    <p>Chức năng</p>
                    <div class="card border-0">
                        <img src="..." class="card-img-top" alt="">
                        <div class="card-body py-4" >
                            <a href="./QlyHD/taoHD">
                                <h5 class="mb-2 fw-bold">
                                    Tạo Hoá Đơn
                                </h5>
                            </a>

                        </div>
                    </div>
                </div>
                
                <!-- <div class="col-3"  >
                    <div class="box" style="background-color: aqua; min-height: 100px;"></div>
                </div>
                <div class="col-3">
                    <div class="box" style="background-color: aqua; min-height: 100px;"></div>
                </div>
                <div class="col-3">
                    <div class="box" style="background-color: aqua; min-height: 100px;"></div>
                </div> -->
            </div>
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col"></th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdofbvsdfbvsdvsdvdvdsvdsvds</td>
                    <td>
                        <a href="./QlyHD/detail">
                            <i class="fa-solid fa-circle-info btn btn-primary"></i>
                        </a>
                        <i class="fa-regular fa-pen-to-square btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"></i>
                    </td>
                   
                    
                </tr>
                
            </tbody>
            </table>
        </div>    
    </div>
</main>



<div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            <div class="row pt-1">
                <div class="col-6 mb-3">
                <h6>Tên tài khoản</h6>
                <input type="text" value="johndoe123" readonly>
                
                </div>
                <div class="col-6 mb-3">
                <h6>Số điện thoại</h6>
                <input type="text" value="987 654 321" readonly>
                
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-12 mb-3">
                <h6>Địa chỉ</h6>
                <input type="text" value="123 Main St" readonly>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-12 mb-3">
                <h6>Ngày sinh</h6>
                <input type="text" value="01/01/1990" readonly>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-12 mb-3">
                <h6>CMND</h6>
                <input type="text" value="A1234567" readonly>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button id="editBtn" type="button" class="btn btn-primary " data-bs-dismiss="modal">Edit</button>
                <button id="saveBtn" type="button" class="btn btn-success ">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
  document.getElementById('editBtn').addEventListener('click', function() {
    const inputs = document.querySelectorAll('input[type="text"]');
    inputs.forEach(input => input.removeAttribute('readonly'));
    document.getElementById('saveBtn').removeAttribute('disabled');
  });

  document.getElementById('saveBtn').addEventListener('click', function() {
    const inputs = document.querySelectorAll('input[type="text"]');
    inputs.forEach(input => input.setAttribute('readonly', true));
    this.setAttribute('disabled', true);
  });
</script>
