 <!-- Footer -->
 <div class="footer">
    <div class="content-section row">
        <div class="col col-half text-center">
            <p class="address">
                <span>
                    <strong>TPHCM</strong>
                </span>
                <p class="text">Số 02 Bình Giã, Phường 13, Quận Tân Bình, Tp.HCM</p>
            </p>
            <p class="address">
                <span>
                    <strong>TPHCM</strong>
                </span>
                <p class="text">Số 02 Bình Giã, Phường 13, Quận Tân Bình, Tp.HCM</p>
            </p>
            <p class="address">
                <span>
                    <strong>TPHCM</strong>
                </span>
                <p class="text">Số 02 Bình Giã, Phường 13, Quận Tân Bình, Tp.HCM</p>
            </p>
            <p class="address">
                <span>
                    <strong>TPHCM</strong>
                </span>
                <p class="text">Số 02 Bình Giã, Phường 13, Quận Tân Bình, Tp.HCM</p>
            </p>
        </div>

        <div class="col col-half text-center">
            <p class="address">
                <span>
                    <strong>TPHCM</strong>
                </span>
                <p class="text">Số 02 Bình Giã, Phường 13, Quận Tân Bình, Tp.HCM</p>
            </p>
            <p class="address">
                <span>
                    <strong>TPHCM</strong>
                </span>
                <p class="text">Số 02 Bình Giã, Phường 13, Quận Tân Bình, Tp.HCM</p>
            </p>
            <p class="address">
                <span>
                    <strong>TPHCM</strong>
                </span>
                <p class="text">Số 02 Bình Giã, Phường 13, Quận Tân Bình, Tp.HCM</p>
            </p>
            <p class="address">
                <span>
                    <strong>TPHCM</strong>
                </span>
                <p class="text">Số 02 Bình Giã, Phường 13, Quận Tân Bình, Tp.HCM</p>
            </p>
        </div>
        <i class="lni icon lni-instagram"></i>
        <i class="lni icon lni-twitter"></i>
        <i class="lni icon lni-facebook"></i>
        
        
    </div>
</div>