 <div id="header">
        <ul id="nav">
            <li><a href="/">Trang chủ</a></li>
            <li>
                <a href="/form">Đặt dịch vụ</a>
                <ul class="subnav">
                    <li><a href="#">Bơm gas máy lạnh</a></li>
                    <li><a href="#">Di dời, tháo lắp máy lạnh</a></li>
                    <li><a href="#">Sửa board máy lạnh Inventer</a></li>
                    <li><a href="#">Máy lạnh bị đông đá</a></li>
                    <li><a href="#">Máy lạnh bị chảy nước</a></li>
                    <li><a href="#">Sửa máy lạnh bị xì gas</a></li>
                    <li><a href="#">Ống đồng máy lạnh bị đông tuyết</a></li>
                </ul>
            </li>
            <li><a href="/Admin">Admin</a></li>
            <!-- <li>
                <a href="">
                    More
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <ul class="subnav">
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">Extras</a></li>
                    <li><a href="#">Media</a></li>
                </ul>
                
            </li> -->
        </ul>
        <div id="profile_img">
            <li>
                <i class="lni lni-user"></i>
                <ul class="subnav2">
                    <li><a href="./HoaDon"><i class="lni lni-list"></i>Hoá Đơn</a></li>
                    <li><a href="#"><i class="lni lni-list"></i>Phiếu Dịch Vụ</a></li>
                    <li><a href="#"><i class="lni lni-list"></i>Phiếu Bảo Hành</a></li>
                    <li><a href="#"><i class="lni lni-list"></i>Cài Đăt</a></li>
                </ul>
            </li>
        </div>
        <div id="search_box">
            <i class="lni lni-search"></i>
        </div>
    </div>