 <div id="header">
        <ul id="nav">
            <li><a href="/">Trang chủ</a></li>
            <li id="datDV">
                <a href="/form">Đặt dịch vụ</a>
            </li>
            <!-- <li>
                <a href="">
                    More
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <ul class="subnav">
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">Extras</a></li>
                    <li><a href="#">Media</a></li>
                </ul>
                
            </li> -->
        </ul>
        <div id="profile_img" style="display: none;">
            <li>
                <a href="/profile"><i class="lni lni-user"></i></a>
               
                <ul class="subnav2">
                    <li><a href="/invoice"><i class="lni lni-list"></i>Hoá Đơn</a></li>
                    <li><a href="/phieuYC"><i class="lni lni-list"></i>Phiếu Dịch Vụ</a></li>
                    <li><a href="/baoHanh"><i class="lni lni-list"></i>Phiếu Bảo Hành</a></li>
                    <li><a href="/user/logout"><i class="lni lni-list"></i>Logout</a></li>
                    <li><a href="https://chatgpt.com/c/be88ce86-0678-4f4b-b1ec-3127cfc3cc92"><i class="lni lni-list"></i>Cài Đăt</a></li>
                </ul>
            </li>
        </div>
        <a href="/user/login">
            <div id="cart">
                <i class="fa-solid fa-right-to-bracket"></i>
             </div>       
        </a>
        
        
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function(event){
            // Split the cookie string by ';' to get individual cookies
            var cookies = document.cookie.split(';'); // Trả về một list cặp key-value
            var idRole;
            var idUser;
            var token;

            //console.log(cookies);
            

            // Iterate through each cookie to find the ones with names 'id_role' and 'id_user'
            cookies.forEach(function(cookie) {
                console.log(cookie)
                // Split each cookie into its name and value
                var parts = cookie.trim().split('=');
                //parts[0]:key
                //parts[1]:value

                // Check if the key is 'id_role'
                if (parts[0] === 'id_role') {
                    // If found, assign its value to idRole variable
                    idRole = parts[1];
                }
                // Check if the key is 'id_user'
                if (parts[0] === 'id_user') {
                    // If found, assign its value to idUser variable
                    idUser = parts[1];
                }
                if(parts[0]=== 'token'){
                    token = parts[1];
                }
            });



            document.getElementById('datDV').addEventListener('click', function(event) {
                if (!token) {
                    event.preventDefault(); // Prevent the default action
                    alert('No token found. Redirecting to login.');
                    
                    window.location.href = '/user/login'; // Redirect to login page
                }else{
                    console.log("token have set already!!!")
                }
            });
             if(token){
                document.getElementById("profile_img").style.display="inline-block";
                document.getElementById("cart").style.display="none";
            }

            

         
           

            // Display the values of the 'id_role' and 'id_user' cookies
               
    })

</script>