
<body>
    <div class="container ">
        <div class="service-detail">
            <form name="frmsanphamchitiet" id="frmsanphamchitiet" action="/product/{{product._id}}/?_method=PUT" method="POST">
                <input type="hidden" name="sp_ma" id="sp_ma" value="5">
                <input type="hidden" name="sp_ten" id="sp_ten" value="{{product.name}}">
                <input type="hidden" name="sp_gia" id="sp_gia" value="{{product.price}}">
                <input type="hidden" name="hinhdaidien" id="hinhdaidien" value="{{product.img}}">
            </form>
            <section class="panel">
                    <div class="row ">
                        <div class="service-img col-lg-6">
                            <div class="service-img-details">
                                <img src="/images/slider/service1.webp" alt="">
                            </div>
                            <div class="service-img-list">
                                <a href="#">
                                    <img src="/images/slider/service2.webp" alt="">
                                </a>
                                <a href="#">
                                    <img src="/images/slider/service3.webp" alt="">
                                </a>
                            
                            </div>
                        </div>

                        <div class="service-dsc col-lg-6">
                            <h4 class="service-title">
                                <a href="#" class="">
                                    Name Service
                                </a>
                            </h4>
                            <p>Mô tả sản phẩm: </p>
                            <!-- <div class="product_meta">
                                <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="#">Jackets</a>, <a rel="tag" href="#">Men</a>, <a rel="tag" href="#">Shirts</a>, <a rel="tag" href="#">T-shirt</a>.</span>
                                <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a rel="tag" href="#">womens</a>.</span>
                            </div> -->
                            <p>Nhà cung cấp: </p>
                            <div class="price m-bot15"> 
                                <strong>Price : </strong> 
                                <span class="amount-old">$544</span>  
                                <span class="service-price"> $300.00</span>
                            </div>

                            {{!-- <div class="form-group" >
                                <label>Quantity:</label>
                                <input  type="number" min="1" placeholder="1" class="form-control quantity">
                            </div> --}}
                            {{!-- <div class="clear"></div> --}}
                            {{!-- <a href="./Form">
                                <button class="btn btn-round btn-outline-success" type="button"><i class="fa fa-shopping-cart"></i> Dùng dịch vụ</button>
                            </a> --}}
                        </div>
                    </div>
            </section>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Nhà cung cấp</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Ống đồng</td>
                    <td>Toshiba</td>
                    <td>1</td>
                    <td>500.000</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Ống đồng</td>
                    <td>Toshiba</td>
                    <td>1</td>
                    <td>500.000</td>
                </tbody>
            </table>
            
        </div>
     </div>
        
    
</body>







