<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="style.css">

    <style>
			body {
				font-family: Arial, sans-serif;
				background-color: #f3f3f3;
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
			}

			.main {
				background-color: #fff;
				border-radius: 15px;
				box-shadow: 0 0 20px
					rgba(0, 0, 0, 0.2);
				padding: 20px;
				width: 300px;
			}

			.main h2 {
				color: #4caf50;
				margin-bottom: 20px;
			}

			label {
				display: block;
				margin-bottom: 5px;
				color: #555;
				font-weight: bold;
			}

			input[type="text"],
			input[type="email"],
			input[type="password"],
			select {
				width: 100%;
				margin-bottom: 15px;
				padding: 10px;
				box-sizing: border-box;
				border: 1px solid #ddd;
				border-radius: 5px;
			}

			.main button {
				margin-top: 10px;
				padding: 15px;
				border-radius: 10px;
				border: none;
				background-color: #4caf50;
				color: white;
				cursor: pointer;
				width: 100%;
				font-size: 16px;
			}
			
		</style>
</head>

<body>
	<form id="formSend" action="/user/register" method="post">
		 <div class="main" id="step-1" >
			<h2>Registration</h2>
				<label for="email">Username:</label>
				<input type="text" id="email" name="email" required />

				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required />

				<label for="repassword">Re-type Password:</label>
				<input type="password" id="repassword" name="repassword" required />

				<button type="button" onclick="nextStep()">Next</button>
		</div>
		<div class="main" id="step-2" style="display:none;">
			<h2>Information</h2>
				<label for="first">Tên:</label>
				<input type="text" id="first" name="first" required />

				<label for="address">Địa chỉ:</label>
				<input type="text" id="address" name="address" required />

				<label for="mobile">Số điện thoại:</label>
				<input type="text" id="mobile" name="mobile" maxlength="10" required />

				<label for="cccd">CCCD:</label>
				<input type="text" id="cccd" name="cccd" required />

				<label for="gender">Giới tính:</label>
				<input type="text" id="gender" name="gender" />

				<button style="background-color: #555;" type="button" onclick="backStep()">Back</button>
				<button  type="submit" >Submit</button>
			
	</form>
   
    </div>

    <script>
		function backStep(){
			document.getElementById("step-1").style.display = "block";
            document.getElementById("step-2").style.display = "none";
		}

        function nextStep() {
            document.getElementById("step-1").style.display = "none";
            document.getElementById("step-2").style.display = "block";
        }

        
    </script>
</body>
</html>
