        <aside id="sidebar">
            <div class="d-flex ">
                <button id="toggle-btn" type="button">
                    <i class="lni lni-grid"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">CodzSword</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="/Profile" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/Product" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Sản Phẩm</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/DichVu" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Dịch Vụ</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Quản Lý Người Dùng</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Quản Lý Hoá Đơn</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <i class="lni lni-user"></i>
                        <span>Auth</span>
                    </a>
                    <ul id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div>
                            <a href="#" class="sidebar-link">Login</a>
                        </div>
                        <div>
                            <a href="#" class="sidebar-link">Register</a>
                        </div>
                    </ul>
                </li>
                <li class="sidebar-item">
                        <a href="#" class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#multi" aria-expanded="false" aria-controls="flush-collapse">
                            <i class="lni lni-link"></i>
                            <span>Multi-levels</span>
                        </a>
                        <ul id="multi"class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#multi-two" aria-expanded="false" aria-controls="flush-collapse">
                                    <i class="lni lni-link"></i>
                                    <span>Multi-two</span>
                                </a>
                                <ul id="multi-two"class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <li class="sidebar-ite">
                                        <a href="#" >
                                            <i class="lni lni-link"></i>
                                            <span>Multi-three</span>
                                        </a>
                                    </li>
                                </ul>     
                            </li>
                        </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>Notification</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>